@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="EasyPost" asp-action="Configure" method="post">
    <div class="cards-group">

        <partial name="~/Plugins/Shipping.EasyPost/Views/Configuration/_Credentials.cshtml" model="Model" />

        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <partial name="~/Plugins/Shipping.EasyPost/Views/Configuration/_Carriers.cshtml" model="Model" />
        }

        <partial name="~/Plugins/Shipping.EasyPost/Views/Configuration/_AddressVerification.cshtml" model="Model" />

        @if (!string.IsNullOrEmpty(Model.ApiKey) || !string.IsNullOrEmpty(Model.TestApiKey))
        {
            <partial name="~/Plugins/Shipping.EasyPost/Views/Configuration/_ServiceConfiguration.cshtml" model="Model" />
        }

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
            </div>
        </div>

    </div>
</form>

<script src="~/Plugins/Shipping.EasyPost/js/utils.js"></script>
<script src="~/Plugins/Shipping.EasyPost/js/pattern-matcher.js"></script>
<script src="~/Plugins/Shipping.EasyPost/js/rule-manager.js"></script>
<script src="~/Plugins/Shipping.EasyPost/js/service-discovery.js"></script>
<script>
    // Initialize configuration with server-side data
    window.EasyPostConfig = {
        discoveredServices: @Html.Raw(Json.Serialize(Model.DiscoveredServices)),
        serviceDisplayRules: @Html.Raw(Json.Serialize(Model.ServiceDisplayRules)),
        urls: {
            discoverServices: '@Url.Action("DiscoverServices", "EasyPost")'
        }
    };
</script>
